.form__input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0 13.5px;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 650px) {
    .form__input {
        padding: 0 0 9px;
    }
}