.elements {
    max-width: 880px;
    display: grid;
    margin: 0 auto 68px;
    grid-gap: 17px;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-template-rows: repeat(2, minmax(0,1fr));
    padding: 0 20px;
}

@media screen and (max-width: 650px) {
    .elements {
        margin: 0 auto 50px;
        grid-template-columns: repeat(2, minmax(0,1fr));
        grid-template-rows: repeat(3, minmax(0,1fr));
    }
}

@media screen and (max-width: 500px) {
    .elements {
        margin: 0 auto 50px;
        grid-template-columns: repeat(1, minmax(0,1fr));
        grid-template-rows: repeat(6, minmax(0,1fr));
    }
}

