.header__logo {
    margin: 0 0 41px;
}

@media screen and (max-width: 880px) {
    .header__logo {
        padding-left: 20px;
    }
}

@media screen and (max-width: 650px) {
    .header__logo {
        height: 24px;
        width: 126px;
        margin: 28px auto 32px;
        padding-right: 160px;
    }
}

@media screen and (max-width: 335px) {
    .header__logo {
        height: 24px;
        width: 126px;
        margin: 28px auto 32px 27px;
        padding-right: 160px;
    }
}