# http://editorconfig.org

# A special property that should be specified at the very top of the file.
# When set to true, it stops Editorconfig from searching any higher 
# in the directory tree for .editorconfig files.
root = true

[*]
# Indentation style
# Possible values - tab, space
indent_style = space

# Indentation size in single-spaced characters
# Possible values - an integer, tab
indent_size = 2

# Newline character(s) to use (varies by OS otherwise)
# Possible values - lf, crlf, cr
end_of_line = lf

# File character encoding
# Possible values - latin1, utf-8, utf-16be, utf-16le
charset = utf-8

# Denotes whether to trim whitespace at the end of lines
# Possible values - true, false
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# Denotes whether file should end with a newline
# Possible values - true, false
insert_final_newline = true