.title__name {
    margin: 0;
    display: inline-block;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    padding-right: 18px;
    align-self: flex-end;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 440px;
}

@media screen and (max-width: 650px) {
    .title__name {
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        margin: 28px auto 0;
        padding-right: 10px;
        max-width: calc(282px - 10px - 18px);
    }
}