.header__menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media screen and (max-width: 880px) {
    .header__menu {
        padding: 0 20px;
    }
}

@media screen and (max-width: 650px) {
    .header__menu {
        flex-direction: column;
        margin: 40px auto 36px;
    }
}