.profile {
    display: flex;
    align-items: center;
    max-width: 880px;
    margin: 40px auto 50px;
    justify-content: space-between;
}

@media screen and (max-width: 880px) {
    .profile {
        padding: 0 20px;
    }
}

@media screen and (max-width: 650px) {
    .profile {
        flex-direction: column;
        margin: 40px auto 36px;
    }
}