/* layer the profile avatar edit image on top of the profile avatar class */
.profile__avatar-edit {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	display: none;
	background-image: url("../../../../images/edit.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 22% 22%;
	cursor: pointer;
	border: none;
	background-color: black;
}

.profile__avatar-edit:hover {
    background-color: rgba(0, 0, 0, 0.8);
}