.modal__close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -38px;
    right: -38px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/CloseIcon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-size: auto;
    border: none;
    padding: 0;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .modal__close-btn {
        width: 24px;
        height: 24px;
        right: 10px;
        top: -42px;
        background-size: auto;
    }
}

.modal__close-btn:hover {
    opacity: 0.6;
}